In [ ]:
# 1
SELECT categoria, count(categoria)
FROM productos
inner join precios on productos.idproductos = precios.productos_idproductos
inner join supermercado on precios.supermercado_idsupermercado = supermercado.idsupermercado
where supermercado.nombre_supermercado = "mercadona"
group by productos.categoria;

SELECT categoria, count(categoria)
FROM productos
inner join precios on productos.idproductos = precios.productos_idproductos
inner join supermercado on precios.supermercado_idsupermercado = supermercado.idsupermercado
where supermercado.nombre_supermercado = "dia"
group by productos.categoria;

#2
SELECT subcategory , date_format(fecha, "%m-%Y"), avg(precio_referencia) as average_price
FROM productos
inner join precios on productos.idproductos = precios.productos_idproductos
where subcategory in ("pan", "cereales", "aceites", "leche", "harinas", "legumbres")
group by subcategory, month(fecha), year(fecha);

#3
SELECT date_format(fecha, "%m-%Y"), avg(precio_referencia)
FROM precios
inner join supermercado on precios.supermercado_idsupermercado = supermercado.idsupermercado
group by nombre_supermercado, month(fecha), year(fecha);

#4
#subquery?
SELECT *
from precios
inner join supermercado on precios.supermercado_idsupermercado = supermercado.idsupermercado
group by categor;

#5
SELECT categoria, avg(precio_referencia)
From precios
inner join precios on productos.idproductos = precios.productos_idproductos
where categoria in ("despensa", "pescaderia", "verduleria", "carniceria", "precocinados" )
group by categoria;

#6
SELECT date_format(fecha, "%m-%Y"), subcategoria, avg(precio_referencia)
from precios
inner join precios on productos.idproductos = precios.productos_idproductos
where categoria = "alcoholicas"
group by subcategoria,  month(fecha), year(fecha);

#7
Select nombre_producto, avg(precio_referencia)
from precios
inner join precios on productos.idproductos = precios.productos_idproductos
where subcategoria = "cerveza"
group by nombre_producto;